a {
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
}
.header{
    margin-top: 30px;
    background-color: white;
    position: relative;
}

.header-ttl{
    position: absolute;
    color: #193278;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
}

.header-nav-list{
    display: flex;
    color: #193278;
    justify-content: flex-end;
}

.header-nav-item{
    font-size: 14px;
    font-weight: bolder;
    margin: 0px 30px;
}

main{
    height: 90%;
    position: relative;
    
}

.eyecatch{
    height: 90%;
}

.catch-copy{
    bottom: 50%;
    font-size: 70px;
    position: absolute;
}

.bg-blue{
    bottom: 25%;
    width: 70%;
    height: 25%;
    background-color: #193278;
    position: absolute;
    z-index: 0;
}


.eyecatch-img {
    display: block;
    width:50%;
    margin: 10% 0 0 auto;
    position: relative;
    z-index: 10;
}